*
{
    margin: 0;
    padding: 0;
    background-color: white;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
canvas{
    background-color: aqua;
}
button{
    font-size: 100px;
    color: black;
    position:absolute;
transform: translateX(500px);}
a{
    font-size: 20px;
    position: absolute;
    transform: translateY(900px);
}
